body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  cursor: none;
  padding: 0%;
  margin: 0%;
  data-liquid-ignore: false;
}

h2{
    text-align: center;
    align-items: center;
    font-size: 800%;
    margin-top: 20%;
    color: turquoise;
}

.backgrounds {
  padding: 0%;
  margin: 0%;
  z-index: -5;
  background-size: cover;
  background-image: linear-gradient(bottom, (0, 0, 0, 0), (0, 0, 0, 1));
  
}

.background {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
}

.showing {
  opacity: 1;
}